$bg-color: #eee;
$white: #fff;
$outer-shadow: rgba(211, 211, 211, 1);
$outer-border: #ccc;
$head-color: #575757;
$input-focus: #76afe4;
$input-focus-shadow: rgba(81, 203, 238, 1);
$input-placeholder: #979797;
$footer-bg: #f5fcea;
$gray: gray;
$check-hover: #d6f1ff;
$check-border: #00a8ff;
$check-active: #b4e5ff;
$input-checked: #43a9d2;
$checkmark-border: #7a7a7a;
$checkmark-after: #20232b;
$main-hover: #4ba2df;